<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}

  <!-- ChatGPT -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "@id": "https://mahe94.github.io/#me",
      "name": "Mahesh Sreekumar Rajasree",
      "alternateName": [
        "Mahesh Rajasree",
        "M S Rajasree"
      ],
      "url": "https://mahe94.github.io/",
      "image": "https://mahe94.github.io/assets/img/mahe.jpeg",
      "jobTitle": "Postdoctoral Researcher",
      "affiliation": {
        "@type": "Organization",
        "name": "CISPA Helmholtz Center for Information Security",
        "url": "https://cispa.de/"
      },
      "sameAs": [
        "https://scholar.google.com/citations?user=ywTR5voAAAAJ",
        "https://dblp.org/pid/216/6012.html",
        "https://orcid.org/0000-0002-8219-8270",
        "https://github.com/mahe94",
        "https://www.youtube.com/@MaheshSreekumarRajasree",
        "https://iacr.org/cryptodb/data/author.php?authorkey=13350",
        "https://sites.google.com/view/mahesh-sreekumar-rajasree/home?authuser=0",
        "https://cispa.de/en/people/c01masr",
        "https://www.linkedin.com/in/mahesh-sreekumar-rajasree/",
        "https://www.researchgate.net/scientific-contributions/Mahesh-Sreekumar-Rajasree-2149335067",
        "https://x.com/maheshrajasree?lang=en",
        "https://crypto.stackexchange.com/users/116220/mahesh-sreekumar-rajasree",
        "https://math.stackexchange.com/users/932011/mahesh-sreekumar-rajasree",
        "https://quantumcomputing.stackexchange.com/users/29559/mahesh-sreekumar-rajasree",
        "https://stackexchange.com/users/21726955/mahesh-s-r",
        "https://www.instagram.com/mahe_94/",
        "https://www.csauthors.net/mahesh-sreekumar-rajasree/"
      ]
    }
    </script>

    <meta name="google-site-verification" content="nE9l9HPql18xXr0PQWRn809HZDwChERamemzWC3rtuk" />
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == "right" %}
        <div class="row">
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
        </div>
        {% else %}
        <div class="row">
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
        </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
